<%- include('../partials/header') %>
    <title><%= title %></title>

</head>
<body>

    <div class="jumbotron text-white bg-dark"><h3><%= title %></h3></div>
   
        <% skills.forEach(function(s, idx) { %>
                
            <center> <a href="/skills/<%= idx %>"><%= s.skill %></a>
                
                
                <% }); %>
                
                <br><button><a href="/skills/new">Add Skill</a></button>
            </center>
    <%- include('../partials/footer') %>
</body>
</html>