<%- include('../partials/header') %>
    <title><%= skill.skill %></title>

</head>
<body>
    <center>
    <div class="jumbotron text-white bg-dark"><h3><%= skill.skill %></h3></div>
        <li> <%= skill.level %> /5 Comfort Level</li>
        <li><%= skill.isSoftSkill ? 'Soft Skill' : 'Hard Skill' %></li>
        <a href="/skills/<%= skillId %>/edit">Edit Skill</a><br>
        
       
        <form action="/skills/<%= skillId %>?_method=DELETE"
            method="POST" >
            <button type="submit">Delete</button>
          </form>
    </center>
    <%- include('../partials/footer') %>
</body>
</html>